<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="../../../resources/css/sidebar.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/sidebar.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div th:replace="fragments/sidebar :: sidebar" id="sidebar-wrapper">Sidebar</div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!--<div class="container">-->

                <!-- /* Handle the flash message */-->
                <th:block th:if="${message != null}">
                    <!-- /* The message code is returned from the @Controller */ -->
                    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                        &nbsp;</div>
                </th:block>


                <div class="container">
                    Create New App
                    <form action="#" method="post" th:action="@{/developer}" th:object="${appForm}">
                        <input type="text" th:field="*{title}"  id="title" class="form-control" placeholder="Title" required="true"/>
                        <input type="text" th:field="*{description}"  id="description" class="form-control" placeholder="Description" required="true"/>
                        <input type="number" th:field="*{price}"  id="price" class="form-control" placeholder="Price" required="true"/>
                        <select th:field="*{categoryId}">
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.id}" th:text="${cat.title}">cat</option>
                        </select>
                        <button type="submit" class="btn btn-default">Create</button>
                    </form>

                </div>



            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>